/* ========================================================================= */
/* RESET */
/* ========================================================================= */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

html, body {
    background-color: #fff;
}


/* ========================================================================= */
/* BASIC ELEMENTS */
/* ========================================================================= */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #000000;
}

pre {
    font-family: 'Noto Serif', serif;
    color: #000000;
}

p {
    font-family: 'Noto Serif', serif;
    color: #000000;
}

ul, ol, li {
    font-family: 'Noto Serif', serif;
    color: #000000;
}


/* ========================================================================= */
/* TOP HEADER CONTENT */
/* ========================================================================= */
body > header {
    /* max-width: 900px; */
    margin: 0 auto;
    margin-bottom: 50px;
    /* padding: 0 50px; */
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}

body > header > * {
    margin: 0;
}

body > header > h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 5rem;
    text-align: center;
    font-weight: 400;
}

body > header > p[author] {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

body > header > p {
    font-family: 'Sail', cursive;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

body > header > p > span[translator] {
    font-size: 1.6em;
}


mark {
    background-color: #fac5ff8c;
    padding: 0 10px;
}

/* ========================================================================= */
/* MAIN ELEMENT */
/* ========================================================================= */
main {
    /* display: flex;
    flex-direction: column;
    gap: 25px;
    flex-flow: wrap;
    justify-content: center; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-gap: 12px; */
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
}


/* ========================================================================= */
/* MAIN CHILD CONTENT */
/* ========================================================================= */
main > article {
    /* border: 1px solid #2c2c2c;
    border-radius: 3px;
    box-shadow: 0 0 1px 0px #000; */
}

main > article > * {
    padding: 12px;
}

main > article > h2 {
    margin: 0;
    text-align: center;
}

main > article > h2:first-child {
    /* border-bottom: 1px solid #2c2c2c; */
    font-weight: 200;
    padding: 4px 8px;
    color: inherit;
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
    /* font-family: 'Sail', cursive; */
    font-size: 3rem;
    color: #000000;
}

main > article > h2:first-child > a {
    color: inherit;
    text-decoration: none;
}

main > article > div[content] {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}


main > article > div[content] > p {
    margin: 0;
    color: #000000;
    font-family: 'Sail', cursive;
    font-size: 1.8rem;
    hyphens: auto;
    line-height: 1.5em;
}

main > article > div[content] > p::first-letter {
    font-size: 2em;
}


@media (max-width: 700px) {
    main > article > div[content] > p {
        font-size: 1.5rem;
    }
}


@media (max-width: 600px) {
    main > article > h2:first-child {
        font-size: 2rem;
    }
    main > article > div[content] > p {
        font-size: 1.2rem;
    }
}

/* @media (min-width: 700px) {
    main {
        padding: 50px;
    }
} */


